# This file is brought to you by puppet

# basic <%= lsbdistcodename %>
deb http://debian.mirror.iweb.ca/debian/ <%= lsbdistcodename %> main contrib non-free
# security suppport
<% if (lsbdistcodename == "sid" || lsbdistcodename == "unstable") -%>
# There is no security mirror for <%= lsbdistcodename %>
<% else -%>
deb http://security.debian.org/ <%= lsbdistcodename %>/updates main contrib non-free
<% end -%>
# local packages
#deb http://puppetmaster:81/ /

# follow testing, pinned in preferences
deb http://debian.mirror.iweb.ca/debian testing main contrib non-free

# backports
<% if (lsbdistcodename == "sid" || lsbdistcodename == "unstable") -%>
# There are no backports for for <%= lsbdistcodename %>
<% else -%>
deb http://backports.debian.org/debian-backports <%= lsbdistcodename %>-backports main
<% end -%>

deb http://debian.koumbit.net/debian <%= lsbdistcodename %> main
