# This file is brought to you by puppet

# basic <%= lsbdistcodename %>
deb http://debian.mirror.iweb.ca/debian/ <%= lsbdistcodename %> main contrib non-free
# security suppport
<% if (lsbdistcodename == "sid" || lsbdistcodename == "unstable") -%>
# There is no security mirror for <%= lsbdistcodename %>
<% else -%>
deb http://security.debian.org/ <%= lsbdistcodename %>/updates main contrib non-free
<% end -%>
# local packages
#deb http://puppetmaster:81/ /

# follow unstable, pinned in preferences
deb http://debian.mirror.iweb.ca/debian sid main contrib non-free

deb http://debian.koumbit.net/debian <%= lsbdistcodename %> main
